{% extends 'base.html' %}
{% load static %}
{% block title %}<title> About Us </title>{% endblock title %}
{% block meta_tag %}{% endblock meta_tag %}

{% block content %}
{% include 'nav.html' %}
<section id="aboutUs"><!--Aboutus-->
    <div class="inner_wrapper aboutUs-container fadeInLeft animated wow">
      <div class="container">
        <h2>Who we are</h2> 
      <h6>Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci ipsum</h6>
        <div class="inner_section"> 
        <div class="row">
                <div class="col-lg-12 about-us">
                  <div class="row">
                  <div class="col-md-6"> <img class="img-responsive" src="{% static 'assets/img/about1.jpg' %}" align=""> </div><!-- /.col-md-6 -->
                    <div class="col-md-6">
                      <h3>Consultant to make your money Grow</h3>
                      <p>
                         Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci ipsum gravida tortor orci ipsum gravida tortor. Lorem ipsum dolor sit amet, tortor orci ipsum gravida tortor. Lorem ipsum dolor sit amet, conseconsectetur.
                      </p>
    
                      <ul class="about-us-list">
                        <li class="points">Consectetur Morbi sagittis, sem quisci ipsum gravida tortor</li>
                        <li class="points">Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida </li>
                        <li class="points">Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci gravida </li>
                                            <li class="points">Sagittis, sem quis lacinia faucibus, orci ipsum gravida </li>
                        <li class="points">Ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci</li>
                      </ul><!-- /.about-us-list -->
                     
                    </div><!-- /.col-md-6 -->
                    
                  </div><!-- /.row -->	
                </div><!-- /.col-lg-12 -->
              </div>
          
        </div>
      </div> 
      </div>
    </section>
    <!--Aboutus--> 
    {% include 'footer.html' %}
{% endblock content %}