{% extends 'base.html' %}
{% load static %}
{% block meta_tag %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
{% endblock meta_tag %}
{% block title %}
<title>Home - Finance and Investment Mall</title>
{% endblock title %}
{% block content %}
<!--Hero_Section-->
<section id="hero_section" class="top_cont_outer">
    <div class="hero_wrapper">
      <div class="container">
        <div class="hero_section">
          <div class="row">
            <div class="col-md-12">		   
              <div class="top_left_cont zoomIn wow animated"> 
                <h2>Start Growing<br> <strong>Your <i class="fa fa-heart"></i> Money</strong></h2>
  
                  <div class="underline"></div>             
                <a href="{% url 'contact' %}" class="read_more2">Enquire Now...</a> </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Hero_Section--> 
  
  {% include 'nav.html' %}
  <section id="aboutUs"><!--Aboutus-->
    <div class="inner_wrapper aboutUs-container fadeInLeft animated wow">
      <div class="container">
        <h2>Who we are</h2> 
      <h6>Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci ipsum</h6>
        <div class="inner_section"> 
        <div class="row">
                <div class="col-lg-12 about-us">
                  <div class="row">
                  <div class="col-md-6"> <img class="img-responsive" src="{% static 'assets/img/about1.jpg' %}" align=""> </div><!-- /.col-md-6 -->
                    <div class="col-md-6">
                      <h3>Consultant to make your money Grow</h3>
                      <p>
                         Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci ipsum gravida tortor orci ipsum gravida tortor. Lorem ipsum dolor sit amet, tortor orci ipsum gravida tortor. Lorem ipsum dolor sit amet, conseconsectetur.
                      </p>
    
                      <ul class="about-us-list">
                        <li class="points">Consectetur Morbi sagittis, sem quisci ipsum gravida tortor</li>
                        <li class="points">Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida </li>
                        <li class="points">Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci gravida </li>
                                            <li class="points">Sagittis, sem quis lacinia faucibus, orci ipsum gravida </li>
                        <li class="points">Ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci</li>
                      </ul><!-- /.about-us-list -->
                     
                    </div><!-- /.col-md-6 -->
                    
                  </div><!-- /.row -->	
                </div><!-- /.col-lg-12 -->
              </div>
          
        </div>
      </div> 
      </div>
    </section>
    <!--Aboutus--> 
    
    
    <!--Service-->
    <section  id="service">
      <div class="container">
        <h2>Popular Services</h2>
      <h6>Offering wide range of service from investment to financial solutions</h6>
        <div class="service_wrapper">
          <div class="row">
            <div class="col-md-3">
        <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-android"></i></span> </div>
              <div class="service_block">
                
                <h3 class="animated fadeInUp wow">Android</h3>
                <p class="animated fadeInDown wow">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              </div>
            </div>
            <div class="col-md-3"> 
        <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-apple"></i></span> </div> 
        <div class="service_block">
                <h3 class="animated fadeInUp wow">Apple IOS</h3>
                <p class="animated fadeInDown wow">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>
              </div>
            </div>
            <div class="col-md-3">
        <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-html5"></i></span> </div>
              <div class="service_block">
                
                <h3 class="animated fadeInUp wow">Design</h3>
                <p class="animated fadeInDown wow">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>
              </div>
            </div>
          <div class="col-md-3">
        <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-user"></i></span> </div>
              <div class="service_block">
                
                <h3 class="animated fadeInUp wow">Development</h3>
                <p class="animated fadeInDown wow">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </section>
    <!--Service-->
    
    
    
    
    <!-- Portfolio -->
    <section id="Portfolio" class="content"> 
      
      <!-- Container -->
      <div class="container portfolio_title"> 
        
        <!-- Title -->
        <div class="section-title">
          <h2>Investment</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci ipsum</h6>
        
        </div>
        <!--/Title --> 
        
      </div>
      <!-- Container -->
      
      <div class="portfolio-top"></div>
      
      <!-- Portfolio Filters -->
      <div class="portfolio"> 
        
        <div id="filters" class="sixteen columns">
          <ul class="clearfix">
            <li><a id="all" href="#" data-filter="*" class="active">
              <h5>All</h5>
              </a></li>
            <li><a class="" href="#" data-filter=".prototype">
              <h5>Product 1</h5>
              </a></li>
            <li><a class="" href="#" data-filter=".design">
              <h5>Product 2</h5>
              </a></li>
            <li><a class="" href="#" data-filter=".android">
              <h5>Product 3</h5>
              </a></li>
            <li><a class="" href="#" data-filter=".appleIOS">
              <h5>Product 4</h5>
              </a></li>
            <li><a class="" href="#" data-filter=".web">
              <h5>Product 5</h5>
              </a></li>
          </ul>
        </div>
        <!--/Portfolio Filters --> 
        
        <!-- Portfolio Wrapper -->
        <div class="isotope fadeInLeft animated wow grid" style="position: relative; overflow: hidden; height: 480px;" id="portfolio_wrapper">  
          <!-- Portfolio Item -->
          <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   appleIOS isotope-item effect-oscar">
         
            <div class="portfolio_img"> 
        <img src="{% static 'assets/img/portfolio_pic1.jpg' %}"  alt="Product 1"> </div> 
          <figcaption>		
            <div>
              <a href="assets/img/portfolio_pic1.jpg" class="fancybox"> 
              <h2>Warm <span>Oscar</span></h2>
                  <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
              </a>
            </div>
          </figcaption>
            </figure>
          <!--/Portfolio Item --> 
          
          <!-- Portfolio Item-->
          <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design isotope-item effect-oscar">
            <div class="portfolio_img"> <img src="{% static 'assets/img/portfolio_pic2.jpg' %}" alt="Product 2"> </div>
              <figcaption>		
            <div>
              <a href="assets/img/portfolio_pic2.jpg" class="fancybox"> 
              <h2>Warm <span>Oscar</span></h2>
                  <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
              </a>
            </div>
          </figcaption>
            </figure>
          <!--/Portfolio Item --> 
          
          <!-- Portfolio Item -->
          <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design  isotope-item effect-oscar">
            <div class="portfolio_img"> <img src="{% static 'assets/img/portfolio_pic3.jpg' %}" alt="Portfolio 1"> </div>
           <figcaption>		
            <div>
              <a href="assets/img/portfolio_pic3.jpg" class="fancybox"> 
              <h2>Warm <span>Oscar</span></h2>
                  <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
              </a>
            </div>
          </figcaption>
            </figure>
          <!--/Portfolio Item--> 
          
          <!-- Portfolio Item-->
          <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  android  prototype web isotope-item effect-oscar">
            <div class="portfolio_img"> <img src="{% static 'assets/img/portfolio_pic4.jpg' %}" alt="Portfolio 1"> </div>
             <figcaption>		
            <div>
              <a href="assets/img/portfolio_pic4.jpg" class="fancybox"> 
              <h2>Warm <span>Oscar</span></h2>
                  <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
              </a>
            </div>
          </figcaption>
          </figure>
          <!-- Portfolio Item --> 
          
          <!-- Portfolio Item -->
          <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design isotope-item effect-oscar">
            <div class="portfolio_img"> <img src="{% static 'assets/img/portfolio_pic5.jpg' %}" alt="Portfolio 1"> </div>
           <figcaption>		
            <div>
              <a href="assets/img/portfolio_pic5.jpg" class="fancybox"> 
              <h2>Warm <span>Oscar</span></h2>
                  <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
              </a>
            </div>
          </figcaption>
          </figure>
          <!--/Portfolio Item --> 
          
          <!-- Portfolio Item -->
          <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  web isotope-item effect-oscar">
            <div class="portfolio_img"> <img src="{% static 'assets/img/portfolio_pic6.jpg' %}" alt="Portfolio 1"> </div>
           <figcaption>		
            <div>
              <a href="assets/img/portfolio_pic6.jpg" class="fancybox"> 
              <h2>Warm <span>Oscar</span></h2>
                  <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
              </a>
            </div>
          </figcaption>
          </figure>
          <!--/Portfolio Item --> 
          
          <!-- Portfolio Item  -->
          <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design web isotope-item effect-oscar">
            <div class="portfolio_img"> <img src="assets/img/portfolio_pic7.jpg" alt="Portfolio 1"> </div>       
           <figcaption>		
            <div>
              <a href="assets/img/portfolio_pic7.jpg" class="fancybox"> 
              <h2>Warm <span>Oscar</span></h2>
                  <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
              </a>
            </div>
          </figcaption>
           </figure>
          <!--/Portfolio Item --> 
          
          <!-- Portfolio Item -->
          <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   android isotope-item effect-oscar">
            <div class="portfolio_img"> <img src="assets/img/portfolio_pic8.jpg" alt="Portfolio 1"> </div>       
          <figcaption>		
            <div>
              <a href="assets/img/portfolio_pic8.jpg" class="fancybox"> 
              <h2>Warm <span>Oscar</span></h2>
                  <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
              </a>
            </div>
          </figcaption>
            </figure>
          <!--/Portfolio Item --> 
          
        </div>
        <!--/Portfolio Wrapper --> 
        
      </div>
      <!--/Portfolio Filters -->
      
      <div class="portfolio_btm"></div>
      
      
      <div id="project_container">
        <div class="clear"></div>
        <div id="project_data"></div>
      </div>
     
      
    </section>  
    <!--/Portfolio --> 
    
    <section class="page_section" id="clients"><!--page_section-->
      <h2>Working with</h2>
    <!--page_section-->
    <div class="client_logos"><!--client_logos-->
      <div class="container">
        <ul class="fadeInRight animated wow">
          <li><a href="javascript:void(0)"><img src="{% static 'assets/img/client_logo1.png' %}" alt=""></a></li>
          <li><a href="javascript:void(0)"><img src="{% static 'assets/img/client_logo2.png' %}" alt=""></a></li>
          <li><a href="javascript:void(0)"><img src="{% static 'assets/img/client_logo3.png' %}" alt=""></a></li>
          <li><a href="javascript:void(0)"><img src="{% static 'assets/img/client_logo5.png' %}" alt=""></a></li>
        </ul>
      </div>
    </div>
    </section>
    <!--client_logos-->
    
    
    </section>
    {% include 'footer.html' %}
  {% endblock content %}
