{% load static %}
<header id="header_wrapper">
    <div class="container">
      <div class="header_box">
        <div class="logo"><a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="logo"></a></div>
        <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <div id="main-nav" class="collapse navbar-collapse navStyle">
              <ul class="nav navbar-nav" id="mainNav">
                <li><a href="{% url 'home' %}" >Home</a></li>
                <li><a href="{% url 'about' %}" >About Me</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="#" >Blog</a></li>
                <li><a href="{% url 'contact' %}" >Contact Us</a></li>
                <li><a href="#" >Agent login</a></li>
                
              </ul>
        </div>
       </nav>
      </div>
    </div>
  </header>